* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

body {
  background-color: #ece8d6;
}

#botaoMenu {
  display: none;
  position: fixed;
  color: #09C1B6;
  font-size: calc(4vh);
  width: 8vh;
  height: 8vh;
  padding: .5vh;
  top: 1vh;
  right: 1vh;
  border: none;
  border-radius: 20px;
  background-color: #F1F6E0;
  z-index: 1;
  cursor: pointer;
}

#navMenu {
  font-size: calc(1vh + 3vmin);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  max-width: 400px;
  border-radius: 0px 0px 0px 80px;
  background-color: #09C1B6;
  z-index: 2;
}

#closeMenu {
  color: #F1F6E0;
  font-size: calc(4vh);
  font-weight: bolder;
  position: absolute;
  width: 8vh;
  height: 8vh;
  padding: 2vh;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
  z-index: 1;
  cursor: pointer;
}

#closeMenu:hover {
  color: red;
}

#navMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 8vh auto 5vh;
}

#navMenu li {
  height: max-content;
  border-bottom: 2px solid #F1F6E0;
  width: 60%;
  text-align: center;
}

#navMenu a:hover {
  border-radius: 30px;
  transition: all .1s;
  background-color: #f1f6e085;
}

#navMenu a {
  color: #F1F6E0;
  display: block;
  font-family:cursive;
  font-weight: bolder;
  text-decoration: none;
  padding: 2vh 0px;
}

#home {
  border-top: 2px solid #F1F6E0;;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 8vh;
  height: 100vh;
}

#secHome {
  position: relative;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1vh 1.5vw 1vh 0;
  box-shadow: 0px 0px 10px #F1F6E0;
  background-color: #1b9b8d;
  z-index: 1;
}

#logo {
  color: #F1F6E0;
  font-family: 'Lilita One';
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 3px black;
  text-decoration: none;
}

#logo img {
  height: 6vh;
  margin: 0 2vmin;
}

#logo h1 {
  font-size: calc(3vmin);
}

#logo h2 {
  font-size: calc(2vmin);
}

#navHeader {
  display: flex;
  list-style: none;
}

#navHeader a {
  color: #F1F6E0;
  font-family: 'Archivo Black';
  text-decoration: none;
  font-size: 1.8vmin;
  padding: 2px 1vw;
  border-left: 2px solid #F1F6E0;
}

#navHeader a:hover {
  text-shadow: 0px 0px 5px white;
}

header #navHeader #inicio {
  border-left: none;
}

header #menuHeader {
  display: none;
  background: none;
  border: none;
}

header #menuHeader i {
  color: #F1F6E0;
  font-size: calc(4vh);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vmin;
  margin-right: 3vmin;
  z-index: 1;
  cursor: pointer;
}

#instNavegue {
  color: #C19909;
  font-family: "Italianno", cursive;
  font-size: 3vmin;
  text-align: center;
  position: absolute;
  top: 9vh;
  right: 10vw;
  display: flex;
  gap: 10px;
}

#instNavegue h3 {
  font-size: 5vmin;
  font-weight: 400;
  font-style: normal;
}

#homeApresentation {
  color: #C19909;
  font-size: calc(1vh + 2vmin);
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5vmin;
  width: 90vw;
  max-width: 800px;
  max-height: 500px;
}

#homeApresentation img {
  width: 50vw;
  max-width: 300px;
  aspect-ratio: 2/2;
  border-radius: 360px;
  box-shadow: 0px 0px 10px #C19909;
}

#navHome {
  position: relative;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
  list-style: none;
}

#navHome a{
  color: #F1F6E0;
  display: block;
  font-family: 'MyWebFont', Arial, sans-serif;
  font-size: calc(1vh + 1vmin);
  font-weight: bolder;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  width: 80vw;
  max-width: 300px;
  border-radius: 30px;
}

#homeFacaParte a{
  background-color: #C19909;
}

#navHome #homeFacaParte a:hover {
  box-shadow: 0px 0px 10px #C19909;
}

#homeAdote a{
  background-color: #09C1B6;
}

#navHome #homeAdote a:hover {
  box-shadow: 0px 0px 10px #09C1B6;
}

#secHome footer {
  color: #F1F6E0;
  font-size: calc(.8vh + 1.5vmin);
  font-family: 'MyWebFont', Arial, sans-serif;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: max-content;
  background-color: #09C1B6;
}

#secHome footer div {
  display: flex;
  justify-content: space-evenly;
  margin: 1vh auto;
  max-width: 600px;
}

#secHome footer a {
  color: #F1F6E0;
  font-weight: bold;
  width: 25vw;
  max-width: 150px;
  text-decoration: none;
  padding: 1px 5px;
  border-radius: 20px;
  background-color: #F1F6E0;
}

#secHome footer #insta {
  color: #e96bc2;
}

#secHome footer #whatsapp {
  color: #62d355;
}

#secSobre {
  text-align: center;
  min-height: 100vh;
  height: max-content;
}

#secSobre #apresentaSobre {
  margin: 5vh 2vmin;
}

#secSobre .buttonSobre {
  display: flex;
  align-items: end;
  width: 30vmin;
  height: 20vmin;
  border-radius: 15px;
  cursor: pointer;
}

#secSobre .buttonSobre div {
  width: 100%;
  padding: 3px;
  border-radius: 0 0 15px 15px;
  background-color: #C19909;
}

#secSobre h2 {
  color: #C19909;
  font-family: 'Archivo Black';
}

#secSobre h3 {
  color: #1b9b8d;
  font-family: 'Archivo Black';
  font-size: calc(1.5vh + 1vmin);
}

#secSobre .descSobre {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  top: 0;
  left: 0;
  height: 100%; 
  width: 100%;
  overflow-y: auto;
  background-color: #ece8d6;
  z-index: 3;
}

#secSobre ul {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  list-style: none;
  width: 90%;
  max-width: 1000px;
}

#secSobre ul li {
  text-align: left;
  width: 100%;
}

#secSobre h4 {
  font-family: 'Archivo Black';
  color: #1b9b8d;
  font-size: calc(1.2vh + 2.5vmin);
}

#secSobre ul li p {
  color: #C19909;
  font-family: cursive;
  text-indent: 20px;
}

#secRelatos h2, #secAdocao h2 {
  color: #C19909;
  font-family: 'Italianno';
  font-weight: 500;
  font-size: 6vmin;
  text-decoration: underline;
}

#secRelatos ul, #secAdocao ul {
  display: grid;
  grid-template-rows: 20vh 20vh;
  list-style: none;
  grid-auto-flow: column;
  padding: 1vh;
  gap: 1vh;
  width: 85vw;
  max-width: 1000px;
  overflow-x: scroll;
  border: 8px solid #09C1B6;
  border-radius: 15px;
  scrollbar-color: #F1F6E0 #09C1B6;
}

#secRelatos .relato, #secAdocao .felino {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 20vh;
  aspect-ratio: 2/2;
  border-radius: 15px;
  background-image: url('Imagens/duquesa.png');
  background-size: cover;
  cursor: pointer;
}

#secRelatos .relato:hover, #secAdocao .felino:hover {
  box-shadow: 0px 0px 10px #C19909;
}

#secRelatos .nomeRelato, #secAdocao .nomeFelino {
  color: #F1F6E0;
  font-family: cursive;
  padding: 2%;
  width: 100%;
  height: max-content;
  border-radius: 0 0 15px 15px;
  background-color: #09c1b57d;
}

#secRelatos h3 {
  color: #C19909;
  font-size: calc(.3vh + 2.3vmin);
  font-family: cursive;
}

#secRelatos a {
  color: #F1F6E0;
  font-size: calc(1h + 1.5vmin);
  font-family: cursive;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  background-color: #62d355;
}

#secRelatos a:hover {
  box-shadow: 0px 0px 10px #09C1B6;
}

#secRelatos .relatoDesc {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #ece8d6;
  z-index: 3;
}

.fechaRelato {
  color: #F1F6E0;
  font-family: 'Archivo black';
  font-size: 4vmin;
  font-weight: bolder;
  position: fixed;
  top: 1vh;
  right: 5vmin;
  width: 8vmin;
  height: 8vmin;
  border-radius: 15px;
  background-color: #09C1B6;
  cursor: pointer;
  z-index: 3;
}

.fechaRelato:hover {
  background-color: red;
}

#secRelatos .relatoDesc h2 {
  font-size: 8vmin;
  margin: 2vh;
}

.imgData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 800px;
  gap: 3vmin;
  padding: 2vh 0;
  border-radius: 15px;
}

#secRelatos .relatoDesc img, #secAdocao .felinoDesc img {
  width: 85vw;
  max-width: 350px;
  border: 8px solid #338392;
  border-radius: 20px;
}

#secRelatos .imgData .imgDatas {
  font-size: calc(1vh + 2vmin);
  font-family: 'Archivo Black';
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 6vw;
}

#secRelatos .imgData .imgDatas h4 {
  color: #C19909;
  text-decoration: underline;
}

#secRelatos .relatoDesc .relatoText {
  color: #C19909;
  font-family: cursive;
  font-size: calc(1vh + 2vmin);
  width: 90vw;
  max-width: 1000px;
  margin: 2vh 0;
}

#secRelatos .relatoDesc .instaTutor {
  color: #e96bc2;
  text-decoration: underline;
  font-family: 'Lilita One';
  border-radius: 10px;
  padding: 1.5vh;
  margin-bottom: 3vh;
  background-color: #09C1B6;
}

#secAdocao {
  font-family: cursive;
  font-size: calc(.5vh + 2.2vmin);
}

#secAdocao h3 {
  color: #09C1B6;
  font-family: cursive;
}

#secAdocao #instrucaoAdote {
  color: #F1F6E0;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 2px black;
  border-radius: 15px;
  padding: 1vh 2vmin;
  background-color: #09C1B6;
}

#secAdocao h4 {
  color: #C19909;
  font-size: calc(.5vh + 2vmin);
}

#secAdocao a {
  color: #F1F6E0;
  font-family: cursive;
  text-decoration: none;
  padding: 1vh 2vh;
  border-radius: 20px;
  background-color: #62d355;
}

#secAdocao .indisponivel .nomeFelino {
  background-color: #c19909b1;
}

#secAdocao .felinoDesc {
  color: #C19909;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ece8d6;
  z-index: 3;
}

#secAdocao .felinoDesc h2 {
  color: #338392;
  margin: 3vh;
  z-index: 3;
}

#secAdocao .felinoDesc .trocaFelino {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 800px;
}

#secAdocao .felinoDesc .trocaFelino button{
  color: #ece8d6;
  font-family: cursive;
  font-size: 5vmin;
  padding: 5px;
  height: 30vh;
  background-color: #1b9b8d;
  cursor: pointer;
}

#secAdocao .felinoDesc .caractFelino {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 3vw;
}

#secAdocao .felinoDesc .caractFelino div {
  color: #338392;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

#secAdocao .felinoDesc img{
  width: auto;
  height: 80vw;
  max-height: 400px;
}

#secAdocao .felinoDesc .textoFelino {
  margin: 2vh;
  border-radius: 15px;
}

#secAdocao .felinoDesc p {
  color: #ece8d6;
  text-align: left;
  text-indent: 10px;
  width: 90vw;
  max-width: 800px;
  margin: 1vh;
  padding: 1vmin;
  border-radius: 15px;
  background-color: #338392;
}
